@import './assets/styles/variables.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: $default-font;
}

.App{
  background-color: rgb(243, 243, 243);
  min-height: 100vh;
}